<?xml version="1.0" encoding="UTF-8"?>
<suite name="CourseraAutomationSuite">
    <listeners>
        <listener class-name="com.coursera.utils.TestListener"/>
    </listeners>
    
    <test name="CourseraTest">
        <classes>
            <class name="com.coursera.tests.CourseraTests"/>
        </classes>
    </test>
</suite>